footer {
    height: 100px;
    // margin: 25px 0;
    margin: 0 auto -100px;

    div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.footer-item {
    padding: 15px 30px;
    border: 2px solid black;
}
