.col-center {
    margin: auto;
}

// paddings

.pdl-10px {
    padding-left: 10px;
}

.text-400 {
    font-weight: 400;
}

.text-300 {
    font-weight: 300;
}

// margins

.mt-10px{
    margin-top: 10px;
}

.mt-20px{
    margin-top: 20px;
}

.mt-30px{
    margin-top: 30px;
}

.mt-40px{
    margin-top: 40px;
}

.mt-60px{
    margin-top: 60px;
}

.mt-80px{
    margin-top: 80px;
}


/*datepicker*/

.datepicker.dropdown-menu {
    width: 250px;
    height: 250px;
}

.datepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}

.datepicker.dropdown-menu tbody {
    height: 180px;
}

.datepicker.dropdown-menu tbody button {
    padding: 6px;
}

.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
}

.timepicker.dropdown-menu {
    padding: 0 4px;
}

.timepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}

.timepicker.dropdown-menu tbody button {
    padding: 6px;
}
