.col-center {
    margin: auto;
}

.text-400 {
    font-weight: 400;
}

.text-300 {
    font-weight: 300;
}

// margins
.mt-30px{
    margin-top: 30px;
}


/*datepicker*/

.datepicker.dropdown-menu {
    width: 250px;
    height: 250px;
}

.datepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}

.datepicker.dropdown-menu tbody {
    height: 180px;
}

.datepicker.dropdown-menu tbody button {
    padding: 6px;
}

.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
}

.timepicker.dropdown-menu {
    padding: 0 4px;
}

.timepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}

.timepicker.dropdown-menu tbody button {
    padding: 6px;
}
