// fonts
@import 'https://fonts.googleapis.com/css?family=Fira+Sans:500,700,400|Roboto:400'; // reset

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
head {
    max-width: 100%;
    background-color: white;
}

li {
    list-style-type: none;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// fonts

h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 33px;
    font-weight: 500;
    line-height: 1.25;
    opacity: 1.00;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h2 {
    font-family: "Fira Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h3 {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 0.00px;
    word-spacing: 0.00px;
    text-transform: none;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.60;
    opacity: 0.70;
    margin-top: 0;
    margin-bottom: 25px;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;
}

#notFound {
    margin: 1em 0;
    padding: 0 0 0.25em 0;
    border-bottom: 1px dotted #ccc;
    text-align: center;
    font-size: 3em;
    font-weight: 300;
    line-height: 1.1em;
}

form {
    input {
        border-radius: 0 !important;
    }
}

.title-bg {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/crowdevelop-40f3c.appspot.com/o/title1.jpg?alt=media&token=d6b89087-174b-46f4-b30e-cdfd669627e7');
    background-blend-mode: hue;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -9;
    color: col(white);
    height: 500px;
}

.project-title {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -9;
    color: col(white);
    height: 500px;
}

.divider {
    height: 1px;
    margin: 0.5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.searchInput, .searchInput:focus{
    background-color: $color-modal-content;
    border: none !important;
    border-bottom: 3px solid $border-color !important;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.Site-content {
  flex: 1;
}
