// FONTS
@import 'https://fonts.googleapis.com/css?family=Fira+Sans:500,700,400|Roboto:400';

* {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
head {
    max-width: 100%;
    background-color: white;
}

li {
    list-style-type: none;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// fonts

h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 33px;
    font-weight: 500;
    line-height: 1.25;
    opacity: 1.00;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h2 {
    font-family: "Fira Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h3 {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.20;
    opacity: 1.00;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 0.00px;
    word-spacing: 0.00px;
    text-transform: none;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.60;
    opacity: 0.70;
    margin-top: 0;
    margin-bottom: 25px;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;
}

#notFound {
    margin: 1em 0;
    padding: 0 0 0.25em 0;
    border-bottom: 1px dotted #ccc;
    text-align: center;
    font-size: 3em;
    font-weight: 300;
    line-height: 1.1em;
}

form {
    input {
        border-radius: 0 !important;
    }
}

.home-container {
    display: block;
}

.title-bg {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/crowdevelop-40f3c.appspot.com/o/title1.jpg?alt=media&token=d6b89087-174b-46f4-b30e-cdfd669627e7');
    background-size: cover;
    display: block;
    filter: $effect;
    -webkit-filter: $effect;
    height: 500px;
    left: 0;
    position: relative;
    right: 0;
    z-index: 1;
    -webkit-transition: all 1s ease-out;

    &:hover {
        filter: none;
        -webkit-filter: none;
    }
}
.text-container {
    display: inline-block;
    position: relative;
    top: -300px;
    left: calc(50% - 151px);
    z-index: 2;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    color: white;
    border-radius: 3px;
    padding: 4px 8px;
}

.alternate-title-bg {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/crowdevelop-40f3c.appspot.com/o/title1.jpg?alt=media&token=d6b89087-174b-46f4-b30e-cdfd669627e7');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1px);
    z-index: 1;
    height: 500px;
}

.project-title {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -9;
    color: col(white);
    height: 500px;
}

.project-head {
    margin: 0 auto;
    color: white;
    border-radius: 3px;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.divider {
    height: 1px;
    margin: 0.5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.search-container {
    box-shadow:
   1px 1px 0 col('deep-green'),
   2px 2px 0 col('deep-green'),
   3px 3px 0 col('deep-green'),
   4px 4px 0 col('deep-green'),
   5px 5px 0 col('deep-green'),
   6px 6px 0 col('deep-green'),
   7px 7px 0 col('deep-green');
}

.searchInput, .searchInput:focus{
    @extend .b-a-2px-light-deep-green-3px;
}
.search-addon {
    @extend .b-a-2px-light-deep-green-3px;
    color: white !important;
    background-color: col('light-deep-green') !important;

    @media screen and (max-width: 543px) {
        width: 15% !important;
    }
    @media screen and (min-width: 544px) {
        width: 7% !important;
    }
}

.search-label {
    color: #A9A9A9 !important;
    padding-left: 5px;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.Site-content {
  flex: 1;
}
