@import 'https://fonts.googleapis.com/css?family=Roboto';
$light-purple: #EEE7F7;
$border-purple: #816F9F;
$project-back: #7852DB;
$purple-back-nav: #8B80F8;
$dark-purple: #4400AB;
$green: #00E676;
$shadow-color: rgba(#000, .52);
$grad1: #7058E4;
$grad2: #6D2C90;
