@import 'https://fonts.googleapis.com/css?family=Roboto';

@function col($col) {
  @return map-get($base-colors, '#{$col}');
}

$black:           #000;
$white:           #fefefe;
$light-black:     #505050;
$dark-white:      #EAE8E0;
$light-white:     #EEE7F7;

$green-blue:      #60daaa;
$green:           #00E676;
$old-green:       #ACD07A;

$yellow:          #fbca67;
$orange:          #ff8a30;

$red:             #f45e61;
$red-heart:       #f10829;

$cyan:            #0eb7da;
$purple:          #6477b9;
$light-blue:      #2fa0d0;
$deep-blue:       #2f4bd0;
$dark-blue:       #141E27;
$dark-brown:      #212220;

$base-colors: (
    'black':           #000,
    'white':           #fefefe,
    'light-black':     #505050,
    'dark-white':      #EAE8E0,
    'light-white':     #EEE7F7,

    'green-blue':      #60daaa,
    'green':           #00E676,
    'old-green':       #ACD07A,

    'yellow':          #fbca67,
    'orange':          #ff8a30,

    'red':             #f45e61,
    'red-heart':       #f10829,

    'cyan':            #0eb7da,
    'purple':          #6477b9,
    'light-blue':      #2fa0d0,
    'deep-blue':       #2f4bd0,
    'dark-blue':       #141E27,
    'dark-brown':      #212220,

);

$categories: (
    'Development':     col(cyan),
    'Game':            col(green),
    'Education':       col(old-green),
    'Social':          col(purple),
    'Art':             col(yellow),
    'Sports':          col(deep-blue),
    'Health':          col(light-blue),
    'News':            col(orange)
);

$vendors: (
  'google':           #DD4B38,
  'facebook':         #3B5998,
  'twitter':          #55ACEE
);


// Primary
$background: col(white);
$text: col(purple);
$loader: col(purple);

// HEADER
$header-accent: col(black);
$brand-accent: col(old-green);

// FOOTER
$link-animation: col(green-blue);
$footer-item-color: col(old-green);

// BUTTONS
$btn-color: col(black);
$btn-text-color: col(white);
$button-color: col(black);
$button-hover: col(purple);
$color-heart : col(red-heart);

$purple-back-nav: col(purple);
$shadow-color: col(black);
$border-color: col(dark-brown);

// MODAL
$color-modal-content: col(dark-white);
$color-modal-footer: col(dark-blue);


$colors: map-merge($base-colors, $categories);
$colors: map-merge($colors, $vendors);
// GENERATORS
@each $key, $value in $colors {
    .btn-#{$key} {
        background-color: $value;
        border-color: $value;
        color: lighten($value, 55%);
    }

    .btn-#{$key}:hover {
        background-color: lighten($value, 55%);
        border-color: $value;
        color: $value;
        transition: all 1000ms ease;
    }
    .color-#{$key} {
        color: $value;
    }

    .bg-#{$key} {
        background: $value;
    }
}
$font-sizes: 14, 16, 26, 36;
@each $val in $font-sizes {
    .fs-#{$val}px {
        font-size: $val+px;
    }
}
$screen-sizes: ( xs : 544, sm : 768, md : 992, lg : 1200, );
