@import 'https://fonts.googleapis.com/css?family=Open+Sans';
:root {
    --light-purple: #EEE7F7;
    --border-purple: #816F9F;
    --dark-purple: #512DA8;
    --green: #00E676;
}

* {
    font-family: 'Open Sans', sans-serif;
}

head, body {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.loginImg img{
    width: 200px;
}

.profileImg {
    max-height: 50px;
    margin-right: 15px;
}


/* Project list view */
.project {
    margin-bottom: 25px;
    background-color: var(--light-purple);
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border-purple);
    box-sizing: border-box;
}

.progress-bar{
    width: 70%;
}

/* Firebase helper */
code {
  display: inline-block;
  padding: 0.1em;
  background-color: #F8F8F8;
  border: 1px solid #DDD;
  border-radius: 3px;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  font-size: 0.9em;
  line-height: 1;
}
.logo {
  display: block;
  margin: 3em 0;
  text-align: center;
}
