@import 'https://fonts.googleapis.com/css?family=Open+Sans';
:root {
    --light-purple: #EEE7F7;
    --border-purple: #816F9F;
    --project-back: #7852DB;
    --purple-back-nav: #8B80F8;
    --dark-purple: #4400AB;
    --green: #00E676;
    --shadow-color: rgba(0, 0, 0, 0.52);
    --grad1: #7058E4;
    --grad2: #6D2C90;
}

* {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

head, body {
    max-width: 100%;
}

body {
    background: linear-gradient(to bottom, var(--grad1), var(--grad2));
}

li {
    list-style-type: none;
}

.loginImg img {
    width: 200px;
}

.profileImg {
    max-height: 50px;
    margin-right: 15px;
}


/* Project list view */

.project {
    background-color: var(--project-back);
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: 0px 5px 24px 1px var(--shadow-color);
    -moz-box-shadow: 0px 5px 24px 1px var(--shadow-color);
    box-shadow: 0px 5px 24px 1px var(--shadow-color);
}

.projectDetails {
    background-color: rgba(38, 50, 56, 0.7);
    box-sizing: inherit;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-shadow: 0px 5px 24px 1px var(--shadow-color);
    -moz-box-shadow: 0px 5px 24px 1px var(--shadow-color);
    box-shadow: 0px 5px 24px 1px var(--shadow-color);
}


/* Firebase helper */

code {
    display: inline-block;
    padding: 0.1em;
    background-color: #F8F8F8;
    border: 1px solid #DDD;
    border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 0.9em;
    line-height: 1;
}

.logo {
    display: block;
    margin: 3em 0;
    text-align: center;
}


/* Override */

.row {
    margin-bottom: 15px;
}

.nav {
    background-color: var(--purple-back-nav);
}

.navbar-default, .navbar-header {
    background-color: var(--purple-back-nav);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #7064C4;
}

.navbar-default .navbar-brand {
    color: white;
}

#collapse-1> ul> li> a {
    color: white;
}

.glyphicon {
    color: var(--dark-purple);
}

.glyphicon-menu-hamburger {
    font-size: 20px;
}
