<div class="container">
    <div class="row flex-items-xs-middle text-xs-center text-justify m-y-4">
        <div class="col-xs-12">
            <h1 id="owner">Created by Héctor Macías</h1>
            <h2 id="powered">Powered by Firebase</h2>
        </div>
        <div class="col-xs-12">
            <a id="email" href="mailto:hectormaciasc.crowdevelop@gmail.com?subject=feedback">Email us</a>
        </div>
        <div class="col-xs-12 m-t-2">
            <h3>Share!</h3>
            <div class="d-inline">
                <!-- Sharingbutton Facebook -->
                <a class="btn btn-social-icon btn-facebook" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcrowdevelop-40f3c.firebaseapp.com%2F" target="_blank" aria-label="">
                    <img class="search-svg" src="../../images/icons/facebook.svg">
                </a>
            </div>
            <div class="d-inline pdl-10px">
                <!-- Sharingbutton Twitter -->
                <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/intent/tweet/?text=Checkout%20this%20awesome%20project%3A%20{{project.name}}&amp;url=https%3A%2F%2Fcrowdevelop-40f3c.firebaseapp.com%2F" target="_blank" aria-label="">
                    <img class="search-svg" src="../../images/icons/twitter.svg">
                </a>
            </div>
            <div class="d-inline pdl-10px">
                <!-- Sharingbutton Google+ -->
                <a class="btn btn-social-icon btn-google" href="https://plus.google.com/share?url=crowdevelop-40f3c.firebaseapp.com/projects/index/{{project.$id}}" onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" aria-label="">
                    <img class="search-svg" src="../../images/icons/google_plus.svg">
                </a>
            </div>
        </div>
    </div>
</div>
