<footer class="bg-black m-t-4">
    <div class="row flex-items-xs-middle footer-row">
        <div class="col-xs text-xs-center ">
            <a class="footer-item text-nowrap draw" href="/">CrowDevelop</a>
        </div>
        <div class="col-xs text-xs-center ">
            <a class="footer-item text-nowrap draw" ng-href="/tos">TOS</a>
        </div>
        <div class="col-xs text-xs-center ">
            <a class="footer-item text-nowrap draw" ng-href="/tos">Terms & agreement</a>
        </div>
    </div>
</footer>
