<div class="container-fluid createProjectForm">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1 ng-show="firebaseUser"> Create a project </h1>
    </div>
  </div>
  <div class="row">
    <form class="form" ng-submit="create()" name="createProject">
      <div class="form-group col-xs-10 col-xs-offset-1 material">
        <input type="email" name="email" class="form-control" ng-model="project.email" required />
        <label for="email">E-mail:</label>
        <p class="help-block">Email to contact to.</p>
        <div class="alert alert-danger" ng-show="createProject.email.$touched && createProject.email.$invalid">
          <strong>Alert!</strong> Need to specify a valid email.
        </div>
      </div>

      <div class="form-group col-xs-10 col-xs-offset-1 material">
        <input type="text" class="form-control" ng-model="project.name" name="name" required />
        <label for="projectName">Project name:</label>
        <p class="help-block">Give your project a name.</p>
        <div class="alert alert-danger" ng-show="createProject.name.$touched && createProject.name.$error.required">
          <strong>Alert!</strong> Need to specify a name.
        </div>
      </div>

      <div class="form-group col-xs-10 col-xs-offset-1 material">
        <select ng-model="project.category" class="form-control selectField"name="category" ng-options="x for x in categories" required></select>
        <label for="category">Category:</label>
        <p class="help-block">Categorize your project.</p>
        <div class="alert alert-danger" ng-show="createProject.category.$touched && createProject.category.$error.required">
          <strong>Alert!</strong> Need to specify a category.
        </div>
      </div>

      <div class="form-group col-xs-10 col-xs-offset-1 material" ng-class="{'has-error': datepickerForm.date.$invalid}">
        <input type="text" class="form-control" ng-model="project.selectedDate" data-min-date="today" name="date" bs-datepicker required />
        <label class="control-label"><i class="fa fa-calendar"></i> Date <small>(as date)</small></label>
        <p class="help-block ">Select a finish date.</p>
        <div class="alert alert-danger" ng-show="createProject.date.$touched && createProject.date.$error.required">
          <strong>Alert!</strong> Need to specify a date.
        </div>
      </div>

      <div class="form-group col-xs-10 col-xs-offset-1 material">
        <label for="description">Description</label>
        <textarea type="textarea" rows="2" name="description" class="form-control" ng-model="project.description" required></textarea>
        <p class="help-block">Describe your project.</p>
        <div class="alert alert-danger" ng-show="createProject.description.$touched && createProject.description.$error.required">
          <strong>Alert!</strong> Description must be 300 characters.
        </div>
      </div>

      <div class="form-group col-xs-10 col-xs-offset-1 material">
        <input type="url" class="form-control" name="video" ng-model="project.video" required />
        <label for="video">Video</label>
        <p class="help-block">Video about project.</p>
        <div class="alert alert-danger" ng-show="createProject.video.$touched && createProject.video.$error.url">
          <strong>Alert!</strong> Must be a valid url.
        </div>
      </div>

      <div class="form-group col-xs-10 col-xs-offset-1 material">
        <input type="number" class="form-control" name="goal" ng-model="project.goal" required />
        <label for="goal">Goal</label>
        <p class="help-block ">Stablish your goal in €.</p>
        <div class="alert alert-danger" ng-show="createProject.goal.$touched && createProject.goal.$error.required">
          <strong>Alert!</strong> Goal must be stablished.
        </div>
      </div>

      <div class="form-group col-xs-10 col-xs-offset-1 material">
        <input type="number" class="form-control" name="achievement" ng-model="project.achievement" max="{{project.goal}}" required />
        <label for="achievement">Achievement</label>
        <p class="help-block ">Stablish your achievement.</p>
        <div class="alert alert-danger" ng-show="createProject.achievement.$touched && createProject.achievement.$error.max">
          <strong>Alert!</strong> Must be lower than projects target goal.
        </div>
      </div>

      <div class="form-group col-xs-10 col-xs-offset-1 material ">
        <div class="alert alert-danger" ng-show="!firebaseUser">
          <strong>Alert!</strong> You have to make an account first.
        </div>
        <input type="submit" value="Create project" ng-disabled="!firebaseUser" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>
