<div class="projects container-fluid">
    <div class="row mt-60px">
        <div class="col-lg-8 offset-lg-2">
            <div class="text-xs-center">
                <h1 class="text-400">{{project.name}}</h1>
            </div>
        </div>
    </div>
    <div class="row mt-30px">
        <div class="offset-lg-3 col-lg-6">
            <div class="text-xs-center">
                <h4 class="text-300">by {{project.ownerName}}</h4>
            </div>
        </div>
    </div>
    <div class="row mt-40px">
        <div class="offset-xs-2 col-xs-8 offset-lg-3 col-lg-6 project">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="video" type="text/html" ng-src="{{project.video | trusted}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="offset-xs-2 col-xs-8 offset-lg-3 col-lg-6 mt-20px">
            <div class="donation">
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#paymentModal">
                    Donate!
                </button>

                <!-- Modal -->
                <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Donate to: {{ project.name }}</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form">
                                    <div class="row">
                                        <div class="col-xs-10 offset-xs-1 col-md-10 offset-md-1 form-group">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="cardNumber" ng-model="cardNumber" cc-number cc-eager-type name="ccNumber" placeholder="Valid Card Number" required />
                                                <span class="input-group-addon"><span class="fa fa-credit-card-alt"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-10 offset-xs-1 col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">€</div>
                                                    <input type="number" class="form-control" id="exampleInputAmount" ng-model="amount" placeholder="Amount">
                                                    <div class="input-group-addon">.00</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 offset-xs-1 col-md-5 offset-md-1">
                                            <div class="form-group">
                                                <label for="expiry">EXPIRY DATE</label>
                                                <input class="form-control inputCard" name="expiry" id="expiry" type="month" ng-model="expiry" min="{{ minDate() }}" placeholder="yyyy-MM" required/>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-md-5 pull-right">
                                            <div class="form-group">
                                                <label for="cvcCode">CVC</label>
                                                <input type="password" class="form-control" id="cvcCode" placeholder="CVC" ng-model="cvc" required />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success">Donate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-xs-2 col-xs-8 offset-lg-3 col-lg-6 mt-30px">
            <h3 class="mt-20px">Category: </h3>
            <span>{{project.category}}</span>
            <h3 class="mt-20px"> Description: </h3>
            <span class="description" ng-bind-html="project.description | formatText"></span>
            <div class="date mt-20px">
                <h3>Deadline: <small>{{project.day}}/{{project.month}}/{{project.year}}</small></h3>
            </div>
            <div class="target">
                <span>Target amount: {{project.goal}}€</span>
                <div>
                    <div class="text-xs-center" id="progress-text">{{ project.donated / project.goal * 100 | number:0 || 0}}% Reached</div>
                    <progress class="progress progress-striped progress-success" value="{{ project.donated / project.goal * 100 | number:0 }}" max="100"></progress>
                </div>
            </div>
        </div>

        <div class="offset-xs-2 col-xs-8 offset-lg-3 col-lg-3 mt-20px">
            <h4>Share this project!</h4>
            <div class="d-inline">
                <!-- Sharingbutton Facebook -->
                <a class="btn btn-social-icon btn-facebook" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcrowdevelop-40f3c.firebaseapp.com%2F" target="_blank" aria-label="">
                    <span class="fa fa-facebook"></span>
                </a>
            </div>

            <div class="d-inline pdl-10px">
                <!-- Sharingbutton Twitter -->
                <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/intent/tweet/?text=Checkout%20this%20awesome%20project%3A%20{{project.name}}&amp;url=https%3A%2F%2Fcrowdevelop-40f3c.firebaseapp.com%2F" target="_blank" aria-label="">
                    <span class="fa fa-twitter"></span>
                </a>
            </div>
            <div class="d-inline pdl-10px">
                <!-- Sharingbutton Google+ -->
                <a class="btn btn-social-icon btn-google" href="https://plus.google.com/share?url=crowdevelop-40f3c.firebaseapp.com" onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" aria-label="">
                    <span class="fa fa-google"></span>
                </a>
            </div>
            <div class="d-inline pdl-10px" ng-click="favourite(project.pid)" ng-if="firebaseUser">
                <i class="fav-icon fa fa-heart" ng-show="favourited"></i>
                <i class="fav-icon fa fa-heart-o" ng-show="!favourited"></i>
            </div>
        </div>
    </div>

    <div class="row mt-20px">
        <div class="offset-xs-2 col-xs-8 offset-lg-3 col-lg-6">
            <h3>Comments</h3>
            <form class="form" ng-submit="saveComment()" name="comment">
                <div class="form-group">
                    <label for="comment"></label>
                    <textarea type="textarea" rows="2" name="commentInput" class="form-control comment-input" ng-model="comments.newComment" required></textarea>
                    <div class="alert alert-danger" ng-show="comment.$touched && comment.$error.required">
                        <strong>Alert!</strong> Goal must be stablished.
                    </div>
                </div>
                <!-- <div class="alert alert-danger" ng-show="!firebaseUser">
            <strong>Alert!</strong> You have to make an account first.
        </div> -->
                <button type="submit" class="btn btn-secondary">Submit comment</button>
            </form>
        </div>
    </div>
    <div class="row mt-20px">
        <div class="offset-xs-2 col-xs-8 offset-lg-3 col-lg-6 comments">
            <div class="comment" ng-repeat="comment in comments">
                <div class="comment-header">
                    <img class="img-rounded comment-photo" src="{{comment.photo}}" alt="User" />
                    <span class="comment-writer">{{comment.writer}}</span>
                </div>
                <p class="comment-text">{{comment.text}}</p>
                <div class="divider"></div>
            </div>
        </div>
    </div>
</div>
