<div class="projects container-fluid">
    <div class="row flex-items-xs-middle m-t-2" ng-if="project.ownerId == firebaseUser.uid">
        <div class="col-xs text-xs-center">
            <p class="title">Administrate your project:</p>
        </div>
        <div class="col-xs text-xs-center">
            <button type="button" name="button" class="btn btn-red" ng-click="changeProjectStatus('closed')" ng-if="project.status == 'inProgress'">End project</button>
        </div>
    </div>
    <div class="row flex-items-xs-middle project-title">
        <div class="col-xs text-xs-center">
            <h1 class="text-400">{{project.name}}</h1>
            <h4 class="text-300">by {{project.ownerName}}</h4>
        </div>
    </div>
    <div class="row flex-items-xs-center m-t-4">
        <div class="col-xs-11 col-md-7 project">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="video" type="text/html" ng-src="{{project.video | trusted}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-xs-11 col-md-7 m-t-2">
            <div class="donation">
                <button type="button" class="btn btn-def-black" ng-if="firebaseUser && project.status == 'inProgress'" data-toggle="modal" data-target="#paymentModal">
                    Donate to this project
                </button>
                <a class="btn btn-def-black" href="/login" ng-if="!firebaseUser && project.status == 'inProgress'">Login to make a donation</a>
                <button class="btn fav-btn d-inline" ng-class="(favourited) ? 'btn-red-heart' : 'btn-white'" ng-click="favourite(project.$id)" ng-if="firebaseUser">
                  <img class="heart-svg" src="../../images/icons/heart-o.svg" ng-show="favourited">
                  <img class="heart-svg" src="../../images/icons/heart-o.svg" ng-show="!favourited">
                </button>
                <!-- Modal -->
                <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Donate to: {{ project.name }}</h4>
                            </div>
                            <div class="modal-body">
                                <form id="donationForm" ng-submit="donate()" autocomplete="on" role="form" method="POST">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="sr-only" for="amount">Amount (in euros)</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">€</div>
                                                    <input type="text" class="form-control" id="amount" ng-model="amount" placeholder="Amount" required />
                                                    <div class="input-group-addon">.00</div>
                                                </div>
                                            </div>
                                            <div class="form-group m-t-3">
                                                <label for="cc-number" class="control-label">Card number <small class="text-muted">[<span class="cc-brand"></span>]</small></label>
                                                <input id="cc-number" type="tel" class="form-control cc-number" ng-model="cNumber" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-t-3">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="cc-exp" class="control-label">Card expiry date</label>
                                                <input id="cc-exp" type="tel" class="form-control cc-exp" ng-model="expiryDate" autocomplete="cc-exp" placeholder="•• / ••" required />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="cc-cvc" class="control-label">Card CVC</label>
                                                <input id="cc-cvc" type="tel" class="form-control cc-cvc" ng-model="cvc" autocomplete="off" placeholder="•••" required />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="loaderDiv"></div>
                                <div class="successDiv text-xs-center invisible"><img class="check-svg" src="../../images/icons/check-green.svg" aria-hidden="true"></div>
                            </div>
                            <div class="modal-footer bg-black text-xs-center">
                                <button type="submit" form="donationForm" class="btn btn-default"><img class="search-svg" src="../../images/icons/credit-card.svg"> Donate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-11 col-md-7 m-t-3">
            <h3 class="m-t-2">Category: </h3>
            <span>{{project.category}}</span>
            <h3 class="m-t-2"> Description: </h3>
            <span class="description" ng-bind-html="project.description | formatText"></span>
            <div class="date m-t-2">
                <h3>Deadline: <small>{{project.day}}/{{project.month}}/{{project.year}}</small></h3>
            </div>
            <div class="target">
                <span>Target amount: {{project.goal}}€</span>
                <div>
                    <div class="text-xs-center" id="progress-text">{{ project.donated / project.goal * 100 | number:0 || 0}}% Reached</div>
                    <progress class="progress progress-striped progress-success" value="{{ project.donated / project.goal * 100 | number:0 }}" max="100"></progress>
                </div>
            </div>
        </div>

        <div class="col-xs-11 col-md-7 m-t-2">
            <h3>Share this project!</h3>
            <div class="d-inline">
                <!-- Sharingbutton Facebook -->
                <a class="btn btn-social-icon btn-facebook" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcrowdevelop-40f3c.firebaseapp.com%2F" target="_blank" aria-label="">
                    <img class="search-svg" src="../../images/icons/facebook.svg">
                </a>
            </div>
            <div class="d-inline pdl-10px">
                <!-- Sharingbutton Twitter -->
                <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/intent/tweet/?text=Checkout%20this%20awesome%20project%3A%20{{project.name}}&amp;url=https%3A%2F%2Fcrowdevelop-40f3c.firebaseapp.com%2F" target="_blank" aria-label="">
                    <img class="search-svg" src="../../images/icons/twitter.svg">
                </a>
            </div>
            <div class="d-inline pdl-10px">
                <!-- Sharingbutton Google+ -->
                <a class="btn btn-social-icon btn-google" href="https://plus.google.com/share?url=crowdevelop-40f3c.firebaseapp.com/projects/index/{{project.$id}}" onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" aria-label="">
                    <img class="search-svg" src="../../images/icons/google_plus.svg">
                </a>
            </div>
        </div>
    </div>
    <div class="row flex-items-xs-center m-t-2">
        <div class="col-xs-11 col-md-7" ng-if="project.ownerId == firebaseUser.uid">
            <h3>Add feature to the pool:</h3>
            <form class="form" ng-submit="addFeature()" name="featureForm">
                <div class="form-group">
                    <input type="text" name="featureInput" class="form-control comment-input" ng-model="$parent.newFeature" required />
                    <div class="alert alert-danger" ng-show="featureForm.$submitted && featureForm.$error.required">
                        <strong>Alert!</strong> Write somethings first.
                    </div>
                </div>
                <div class="form-group material text-xs-right">
                    <button type="submit" class="btn btn-green">Add feature</button>
                </div>
            </form>
        </div>
        <div class="col-xs-11 col-md-7" ng-if="project.ownerId == firebaseUser.uid">
            <h3>Features:</h3>
            <div class="feature" ng-repeat="feature in features | orderBy:'-points'">
                <div class="row m-y-1">
                    <div class="col-xs-6 col-lg-9">
                        <p class="d-inline">{{$index + 1 + 'º ' + feature.description}}</p>
                    </div>
                    <div class="col-xs-6 col-lg-3">
                        <button class="btn d-inline push-right" ng-disabled="!firebaseUser" ng-class="(feature.status == 'up') ? 'btn-green' : 'btn-default'" ng-click="voteFeature(feature.$id, 'up')">
                            <img class="up-svg" src="../../images/icons/up_circle.svg">
                        </button>
                        <button class="btn d-inline" ng-disabled="!firebaseUser" ng-class="(feature.status == 'down') ? 'btn-red' : 'btn-default'" ng-click="voteFeature(feature.$id, 'down')">
                            <img class="down-svg" src="../../images/icons/down_circle.svg">
                        </button>
                        <p class="d-inline">{{feature.points}}</p>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>
    <div class="row flex-items-xs-center m-t-2">
        <div class="col-xs-11 col-md-7">
            <h3>Comments</h3>
            <form class="form" ng-submit="saveComment()" name="comment">
                <div class="form-group">
                    <label for="comment"></label>
                    <textarea type="textarea" rows="2" name="commentInput" class="form-control comment-input" ng-model="newComment" required></textarea>
                    <div class="alert alert-danger" ng-show="comment.$submitted && comment.$error.required">
                        <strong>Alert!</strong> Write somethings first.
                    </div>
                </div>
                <div class="form-group material text-xs-right">
                    <button type="submit" class="btn btn-green" ng-disabled="!firebaseUser">Submit comment</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row flex-items-xs-center m-t-1">
        <div class="col-xs-11 col-md-7 comments">
            <div class="comment" ng-repeat="comment in comments">
                <div class="comment-header">
                    <img class="img-rounded comment-photo" src="{{comment.photo}}" alt="User" />
                    <span class="comment-writer">{{comment.writer}}</span>
                </div>
                <p class="comment-text">{{comment.text}}</p>
                <div class="divider"></div>
            </div>
        </div>
    </div>
</div>
