<div class="row m-t-4">
    <div class="offset-xs-1 col-xs-10 offset-lg-2 col-lg-8 left-addon">
        <div class="empty text-xs-center" ng-if="!favProjects.length">
            <h1>You have no favourite projects...Yet!</h1>
            <h2>Go find some awesome project first!</h2>
        </div>
        <div class="empty" ng-if="favProjects.length">
            <h2>My favourite projects: </h2>
        </div>
    </div>
</div>
<div class="row flex-items-xs-center m-t-4" ng-repeat="project in favProjects" ng-if="favProjects.length">
    <div class="col-xs-8 text-xs-center project">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" type="text/html" ng-src="{{project.video | trusted}}" frameborder="0" color="red" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-xs-5" ng-click="go('projects/index/'+project.$id)">
        <div class="projectDetails">
            <h3>{{project.name}}</h3>
            <p> Category: {{project.category}}</p>
            <div class="target">
                <div>
                    <div class="text-xs-center" id="progress-text">{{ project.donated / project.goal * 100 | number:0 || 0}}% Reached</div>
                    <progress class="progress progress-striped progress-success" value="{{ project.donated / project.goal * 100 | number:0 }}" max="100"></progress>
                </div>
            </div>
        </div>
    </div>
</div>
