<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 offset-xs-1">
            <h1 ng-show="firebaseUser"> Create a project </h1>
        </div>
    </div>
    <form class="form" ng-submit="create()" name="createProject">
        <div class="row flex-items-xs-center">
            <div class="form-group col-xs-11 col-md-7">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-model="project.email" type="email" name="email" required>
                    <div ng-messages="createProject.email.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Project name</label>
                    <input ng-model="project.name" name="name" required />
                    <div ng-messages="createProject.name.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Project category</label>
                    <md-select name="category" ng-model="project.category" required>
                        <div ng-repeat="category in categories">
                            <md-option value="{{category}}">{{category}}</md-option>
                        </div>
                    </md-select>
                    <div ng-messages="createProject.category.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-datepicker name="date" ng-model="project.selectedDate" md-placeholder="Enter finish date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="project.description" name="description" rows="1" md-select-on-focus required></textarea>
                    <div ng-messages="projectForm.description.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <div>
                    <label for="input-file-id" class="imageLabel">Image to show as project header</label>
                    <label for="input-file-id" class="md-button md-raised md-primary">Choose Image</label>
                    <input class="ng-hide" id="input-file-id" multiple type="file" onchange="angular.element(this).scope().log(this)" data-toggle="tooltip" data-placement="bottom" title="Image should have a big size" />
                </div>
                <md-input-container class="md-block">
                    <label>Youtube video url</label>
                    <input ng-model="project.videoUrl" type="url" name="video" required>
                    <div ng-messages="createProject.video.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Goal</label>
                    <input ng-model="project.goal" type="number" name="goal" max="project.goal" required>
                    <div ng-messages="createProject.goal.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Achievement</label>
                    <input ng-model="project.achievement" type="number" name="achievement" max="project.achievement" required>
                    <div ng-messages="createProject.achievement.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="max">This must be less than {{project.goal}} target goal.</div>
                    </div>
                </md-input-container>
                <div class="alert alert-warning" ng-show="!firebaseUser">
                    <strong>Alert!</strong> You have to make an account first.
                </div>
                <button type="submit" class="btn btn-green">Create project</button>
                <a href="/" class="btn btn-red">Cancel</a>
            </div>
        </div>
    </form>
</div> -->
