<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-toggle collapsed pull-left" data-toggle="collapse" role="button" data-target="#collapse-1" aria-expanded="false" id="nav-icon3">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </div>
            <a class="navbar-brand" href="/">CrowDevelop</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="firebaseUser"><a href="">Hello, {{firebaseUser.user.displayName}}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/projects/create" ng-if="firebaseUser" ng-click="createProject()" id="create-project-button">Create project</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/login" ng-if="!firebaseUser">Login - Registro</a></li>
                <li><a href="/" ng-if="firebaseUser" ng-click="logout()" id="quickstart-sign-in">Sign Out</a></li>
                <li class="hidden-xs hidden-sm"><img src="{{firebaseUser.user.photoURL}}" class="img-responsive img-circle profileImg" /></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
