<div class="row flex-items-xs-middle title-bg">
    <div class="col-xs text-xs-center">
        <h1>Funding your ideas</h1>
        <h2>Crowd guided development</h2>
    </div>
</div>
<div class="row m-y-4">
    <div class="col-xs-12 offset-md-1 col-md-10">
        <div class="row flex-items-xs-center">
            <div class="col-xs-6 col-md-3 category text-xs-center m-t-1" ng-repeat="category in categories">
                <button class="category-btn btn btn-{{category}}" ng-click="goTo('projects/category/' + category)">{{ category }}</button>
            </div>
        </div>
    </div>
</div>
<div class="row flex-items-xs-center m-t-4">
    <div class="col-xs-10 col-md-8 text-xs-center">
        <div class="form-group has-feedback">
            <form class="form" ng-submit="findProject()" name="searchForm">
                <div class="form-group material">
                    <div class="input-group">
                        <input type="text" name="searchField" class="form-control searchInput" ng-model="query" palceholder="Search" required />
                        <label for="searchField">Search project</label>
                        <div class="input-group-addon"><img class="search-svg" src="../images/icons/search.svg"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row m-t-1" ng-if="!projects.length">
    <div class="text-xs-center">
        <h2 class="empty">No projects created yet</h2>
    </div>
</div>
<div class="row m-t-1" ng-if="projects.length">
    <div class="col-xs-10 offset-xs-1 offset-lg-2 col-lg-8 left-addon">
        <h2>Popular projects: </h2>
    </div>
</div>
<div class="row flex-items-xs-center" ng-if="projects.length">
    <div class="col-xs-10 col-lg-3 m-y-2 m-x-1 lift" ng-repeat="project in projects | filter:query">
        <div class="card">
            <img class="card-img-top img-fluid" src="{{project.imageRef}}" alt="Card image cap">
            <div class="card-block  text-xs-center">
                <h4 class="card-title">{{project.name}}</h4>
                <p class="card-text">{{project.description | limitTo : 250}}</p>
                <a href="#" class="btn btn-primary" ng-click="goTo('projects/index/'+project.$id)">Project details</a>
            </div>
        </div>
    </div>
</div>
