<div class="login">
    <div class="row m-t-2">
        <div class="offset-xs-1 col-xs-10 offset-lg-4 col-lg-4">
            <h2>Login options</h2>
        </div>
    </div>
    <div class="row m-t-4" ng-if="!firebaseUser">
        <div class="offset-xs-1 col-xs-10 offset-lg-4 col-lg-4" ng-if="loginError">
            <div class="alert alert-warning">
                <strong>Warning!</strong> {{loginError}}
            </div>
        </div>
        <div class="offset-xs-1 col-xs-10 offset-lg-4 col-lg-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="btn btn-block btn-social btn-google" ng-click="login('google')">
                        <span class="fa fa-google"></span> Sign in with Google
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-block btn-social btn-twitter" ng-click="login('twitter')">
                        <span class="fa fa-twitter"></span> Sign in with Twitter
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-block btn-social btn-facebook" ng-click="login('facebook')">
                        <span class="fa fa-facebook"></span> Sign in with Facebook
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
