<div class="login">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-4 ">
            <h1>Login options</h1>
        </div>
    </div>
    <div class="row" ng-if="!firebaseUser">
        <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="btn btn-block btn-social btn-google" ng-click="login('google')">
                        <span class="fa fa-google"></span> Sign in with Google
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-block btn-social btn-twitter" ng-click="login('twitter')">
                        <span class="fa fa-twitter"></span> Sign in with Twitter
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-block btn-social btn-facebook" ng-click="login('facebook')">
                        <span class="fa fa-twitter"></span> Sign in with Facebook
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
