<div class="row flex-items-xs-middle m-t-2" ng-if="!firebaseUser">
  <div class="col-xs text-xs-center">
    <h2>Login options</h2>
  </div>
</div>
<div class="row flex-items-xs-middle" ng-if="!firebaseUser">
  <div class="col-xs" ng-if="loginError">
    <div class="alert alert-warning">
      <strong>Warning!</strong> {{loginError}}
    </div>
  </div>
</div>
<div class="row flex-items-xs-middle m-t-4" ng-if="!firebaseUser">
  <div class="col-xs-10 col-sm-7 col-md-5 m-x-auto text-xs-center">
    <button class="btn btn-block btn-social btn-google" ng-click="login('google')">
      <span class="fa fa-google"></span> Sign in with Google
    </button>
    <button class="btn btn-block btn-social btn-twitter" ng-click="login('twitter')">
      <span class="fa fa-twitter"></span> Sign in with Twitter
    </button>
    <button class="btn btn-block btn-social btn-facebook" ng-click="login('facebook')">
      <span class="fa fa-facebook"></span> Sign in with Facebook
    </button>
  </div>
</div>
