@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Fira+Sans:500,700,400|Roboto:400';
.col-center {
  margin: auto; }

.text-400 {
  font-weight: 400; }

.text-300 {
  font-weight: 300; }

.mt-10px {
  margin-top: 10px; }

.mt-20px {
  margin-top: 20px; }

.mt-30px {
  margin-top: 30px; }

.mt-40px {
  margin-top: 40px; }

.mt-60px {
  margin-top: 60px; }

.mt-80px {
  margin-top: 80px; }

/*datepicker*/
.datepicker.dropdown-menu {
  width: 250px;
  height: 250px; }

.datepicker.dropdown-menu button {
  outline: none;
  border: 0px; }

.datepicker.dropdown-menu tbody {
  height: 180px; }

.datepicker.dropdown-menu tbody button {
  padding: 6px; }

.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px; }

.timepicker.dropdown-menu {
  padding: 0 4px; }

.timepicker.dropdown-menu button {
  outline: none;
  border: 0px; }

.timepicker.dropdown-menu tbody button {
  padding: 6px; }

.header-default {
  background-color: transparent; }

.header-item {
  max-height: 40px;
  font-size: 14px;
  border-radius: 1px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px black;
  padding: 7px 24px;
  color: black !important; }

.collapse-item {
  font-size: 14px;
  color: black !important; }

.profileImg {
  max-height: 30px;
  margin-right: 15px; }

.logo {
  display: block;
  margin: 3em 0;
  text-align: center; }

footer {
  height: 150px;
  margin-top: 50px; }

.footer-item {
  padding: 15px 30px; }

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

head, body {
  max-width: 100%;
  background-color: white; }

li {
  list-style-type: none; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 33px;
  font-weight: 500;
  line-height: 1.25;
  opacity: 1.00;
  margin-top: 0px;
  margin-bottom: 10px;
  letter-spacing: -0.72px;
  word-spacing: 0.00px;
  text-transform: none; }

h2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.20;
  opacity: 1.00;
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: -0.72px;
  word-spacing: 0.00px;
  text-transform: none; }

h3 {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.20;
  opacity: 1.00;
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: 0.00px;
  word-spacing: 0.00px;
  text-transform: none; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.60;
  opacity: 0.70;
  margin-top: 0px;
  margin-bottom: 25px;
  letter-spacing: -0.30px;
  word-spacing: -0.10px;
  text-transform: none; }

form input {
  border-radius: 0 !important; }

.divider {
  height: 1px;
  margin: .5rem 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.material {
  position: relative;
  padding: 0;
  margin: 5px;
  width: 100%;
  border: none;
  overflow: visible;
  /* Remove focus */
  /* Use custom arrow */ }
  .material input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 10px 8px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #DDD;
    font-size: 120%;
    outline: none;
    cursor: text; }
    .material input::-webkit-input-placeholder {
      transition: color 300ms ease; }
    .material input::-moz-placeholder {
      transition: color 300ms ease; }
    .material input:-ms-input-placeholder {
      transition: color 300ms ease; }
    .material input::placeholder {
      transition: color 300ms ease; }
    .material input:not(:focus)::-webkit-input-placeholder {
      color: transparent; }
    .material input:not(:focus)::-moz-placeholder {
      color: transparent; }
    .material input:not(:focus):-ms-input-placeholder {
      color: transparent; }
    .material input:not(:focus)::placeholder {
      color: transparent; }
  .material label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 120%;
    color: #607D8B;
    transform-origin: 0 -150%;
    transition: transform 300ms ease;
    pointer-events: none; }
  .material input:focus ~ label,
  .material input:valid ~ label,
  .material select ~ label,
  .material textarea ~ label {
    transform: scale(0.6); }
  .material select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.26);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .material select:focus {
    outline: none; }
  .material .selectField select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .material .selectField {
    font-family: 'Roboto';
    position: relative; }
  .material .selectField:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid rgba(0, 0, 0, 0.12);
    pointer-events: none; }

/* Project list view */
.project {
  background-color: white;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  box-sizing: border-box;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 5px 24px 1px rgba(0, 0, 0, 0.52); }

.projectDetails {
  background-color: rgba(38, 50, 56, 0.7);
  box-sizing: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  box-shadow: 0px 5px 24px 1px rgba(0, 0, 0, 0.52); }

.social {
  display: inline; }

.description {
  text-align: justify;
  display: block; }

.comment-input {
  border: 2px solid #CDD3D7 !important;
  border-radius: 4px !important; }

.comment {
  padding-bottom: 15px; }
  .comment .comment-header {
    display: inline; }
  .comment .comment-photo {
    max-height: 40px;
    width: auto;
    margin: 0 10px; }
  .comment .comment-writer {
    color: #5995DD;
    font-size: 15px; }
  .comment .comment-text {
    color: #444444;
    text-align: justify;
    padding: 10px 0; }

.input-search {
  background: url("../../../images/icons/search-icon.png") no-repeat !important;
  background-position: calc(100% - 20px) center !important;
  background-size: contain !important;
  background-color: white !important;
  padding-right: 60px !important; }
