/* Project list view */
.project {
  background-color: white;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  box-sizing: border-box;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 5px 24px 1px var(--shadow-color);
}
.projectDetails {
  background-color: rgba(38, 50, 56, 0.7);
  box-sizing: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  box-shadow: 0px 5px 24px 1px var(--shadow-color);
}
.social {
  display: inline;
}
.description {
  text-align: justify;
  display: block;
}
.comment {
  padding-bottom: 15px;
  box-sizing: border-box;
}
.comment-writer {
  color: #5995DD;
  font-size: 15px;
}
.comment-text {
  color: #444444;
}
